name: Continous Integration and Docker push

on: 
    push: 
        branches:
            - main
    pull_request:
    workflow_dispatch:

jobs:
    test:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: .
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Python Setup
              uses: actions/setup-python@v5
              with:
                python-version: 3.x

            - name: Cache
              uses: actions/cache@v3
              with:
                path: ~/.cache/pip
                key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}

            - name: Install Dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt

            - name: Run Test
              run: pytest

    build-and-push:
        runs-on: ubuntu-latest
        needs: test
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ vars.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build and push
              uses: docker/build-push-action@v6
              with:
                push: true
                tags: ${{ vars.DOCKERHUB_USERNAME }}/flask-app:${{ github.sha }}